.card {
  background-color: white;
  border: 1px solid #b1b1b1;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.421);
}

.w-400 {
  width: 400px;
}

.content {
  min-height: 85vh;
  border: 1px solid #b1b1b1;
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;

}
i{
  font-size: 20px;
}
table{
  border: 1px solid #b1b1b1;
}
thead th{
  border-bottom: 1px solid #b1b1b1 !important;
  text-transform: uppercase;
}

.search-input{
  height: 60px;
  border-radius: 5px;

}

/* loader */
.loader-parent {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.697);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loader {
  height: 80px;
  width: 80px;
  border: 4px solid white;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader-anim 1s linear infinite;

}

/* loader animation */
@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* .loader-parent {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.697);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loader {
  height: 80px;
  width: 80px;
  border: 5px solid var(--primary);
  border-radius: 50%;
  border-top-color: var(--secondary);
  animation: loader-anim 1s linear infinite;
  
}

table{
  border: 1px solid #cdcdcd;
}

.br-3{
  border-radius: 3px;
}

@keyframes loader-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */